<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World Happiness Visualization</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Load d3.js-->
  <script src="https://d3js.org/d3.v5.js"></script>
  <!-- Load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   <!-- Load plotly.js into the DOM -->
   <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
  <header class="header"> 
    <div class="header-content clearfix">
      <div class="row" id="selection">
        <div class="col-md-12 text-center">
          <h1 class="header-text text-center">World Happiness Dashboard</h1>
          <select class="custom-select"id="selDatasetYear" onchange="optionChangedOne(this.value)">
            <option selected class="custom-option">Select Year</option>
          </select>
          <select class="custom-select"id="selDatasetCountry" onchange="optionChangedTwo(this.value)">
            <option selected class="custom-option">Select Country</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col"> 
        <div id='myDiv'>
          <!-- Our JS -->
          <script type="text/javascript" src="/static/js/happiness_world_map.js"></script>
        </div>
      </div>
      

    </div>
      <div class="row">
        <div class="col"> 
          <!-- Summary Table JS -->
            <div id="summary_table">
            <script type="text/javascript" src="/static/js/happiness_summary_table.js"></script>
            </div>
        </div>
        
      </div>
  </div>
  
  
  <script type="text/javascript" src="/static/js/dropdown.js"></script>
  
</body>
</html>