<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World Happiness Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Load d3.js-->
  <script src="https://d3js.org/d3.v5.js"></script>
  <!-- Load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   <!-- Load plotly.js into the DOM -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> 
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-bundle.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-data-adapter.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">
  
</head>

<body>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>

  <!-- Landing Page-->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: lightseagreen;" href="index.html">Home</a>
      <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="page_max_temp.html">Max Temperature</a>
              <a class="dropdown-item" href="page_humidity.html">Humidity</a>
              <a class="dropdown-item" href="page_cloudiness.html">Cloudiness</a>
              <a class="dropdown-item" href="page_wind_speed.html">Wind Speed</a>
            </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="page_comparisons.html">Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page_data.html">Data</a>
          </li>

        </ul>
  <header class="header"> 
    <div class="header-content clearfix">
      <div class="row" id="selection">
        <div class="col-md-12 text-center">
          <h1 class="header-text text-center">World Happiness Dashboard</h1>
          <select class="custom-select"id="selDatasetYear" onchange="optionChangedOne(this.value)">
            <option selected class="custom-option">Select Year</option>
          </select>
          <select class="custom-select"id="selDatasetCountry" onchange="optionChangedTwo(this.value)">
            <option selected class="custom-option">Select Country</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col"> 
        <div id='myDiv'>
          <!-- Our JS -->
          <script type="text/javascript" src="/static/js/happiness_world_map.js"></script>
        </div>
      </div>
    </div>

    <div class="row">
          <div class="col"> 
          <!-- Summary Table JS -->
            <div id="summary_table">
            <script type="text/javascript" src="/static/js/happiness_summary_table.js"></script>
            </div>
         </div>
         <div class="col"> 
          <!-- Guage Chart -->
          <div id="guage">
            <script type="text/javascript" src="/static/js/happiness_guage.js"></script>
           </div>
        </div>
      </div>  
  </div>

  <div class="row">
    <div class="col">
      <div id="plot1">
        <script type="text/javascript" src="/static/js/plots.js"></script>
      </div>
    </div>
    <div class="col">
      <div id="plot3">
        <script type="text/javascript" src="/static/js/plots.js"></script>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="plot4">
        <script type="text/javascript" src="/static/js/plots.js"></script>
      </div>
    </div>
    <div class="col">
      <div id="plot5">
        <script type="text/javascript" src="/static/js/plots.js"></script>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="plot6">
        <script type="text/javascript" src="/static/js/plots.js"></script>
      </div>
    </div>
    <!-- <div class="col">
      <div id="plot5">
        <script type="text/javascript" src="/static/js/plots.js"></script>
      </div>
    </div> -->
  </div>

  <script type="text/javascript" src="/static/js/dropdown.js"></script>

  
</body>
</html>