<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>World Happiness Report</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
  <!-- Load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <!-- Icon for the webpage -->
  <link rel="icon" type="image" href="https://cdn11.bigcommerce.com/s-sq9zkarfah/images/stencil/608x608/products/94081/189422/Smiley-Happy-Face-Jdm-Japanese-2-Decal-Sticker__77985.1511154602.jpg?c=2">
   <!-- Load plotly.js into the DOM -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <!-- Load d3.js-->
  <script src="https://d3js.org/d3.v5.js"></script>
</head>

<body>
  <!-- Landing Page-->
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>

  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: lightseagreen;" href="index.html">Home</a>
      <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="page_corruption.html">Corruption</a>
              <a class="dropdown-item" href="page_gdp.html">GDP</a>
              <a class="dropdown-item" href="page_generosity.html">Generosity</a>
              <a class="dropdown-item" href="page_life_choices.html">Life Choices</a>
              <a class="dropdown-item" href="page_life_expectancy.html">Life Expectancy</a>
              <a class="dropdown-item" href="page_social_support.html">Social Support</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page_comparisons.html">Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page_data.html">Data</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  
 <!-- Display Corruption Plot -->
 <div class="container">
     <div class="row">
         <div class="col-lg-7 col-md-12">
             <div class="box">
                <h3 class="title">Freedom to Make Life Choices and Happiness
                </h3>
                <div id='plot4'> 
                    <!-- Our JS --> 
                    <script type="text/javascript" src="/static/js/life_choices.js"></script>
                </div>
                
                <hr>
                <!-- <img class="panel" src="/assets/corruption.png" alt="GDP"> -->
             </div> 
        </div>
        <div class="col-lg-5 col-md-5">
            <div class="box">
              <h5 class="title"> Visualizations</h5class></h5>
                  <hr>
                  <div class="container">
                      <div class="row" style="padding-bottom: 30px;">
                          <div class="col-6">
                              <a href="page_corruption.html">
                                  <img class="panel" src="/assets/corruption.png" alt="Corruption" title="Corruption and Happiness">
                              </a>
                          </div>
                          <div class="col-6">
                              <a href="page_generosity.html">
                                  <img class="panel" src="/assets/gdp.png" alt="GDP" title="GDP and Happiness">
                              </a>
                          </div>
                      </div>
                      <div class="row" style="padding-bottom: 30px;">
                          <div class="col-6">
                              <a href="page_life_choices.html">
                                  <img class="panel" src="/assets/generosity.png" alt="Generosity" title="Generosity and Happiness">
                              </a>
                          </div>
                          <div class="col-6">
                              <a href="page_life_expectancy.html">
                                  <img class="panel" src="/assets/life_expectancy.png" alt="Life Expectancy" title="Life Expectancy and Happiness">
                              </a>
                          </div>
                      </div>
                      <div class="row" style="padding-bottom: 30px;">
                          <div class="col-6">
                              <a href="page_social_support.html">
                                  <img class="panel" src="/assets/social_support.png" alt="Social Support" title="Social Support and Happiness">
                              </a>
                          </div>
                      </div>
                  </div>
            </div>
          </div>
      </div>

        </div>
     </div>
</div>>

  <!-- Copyright-->
  <footer>
        <div class="footer">© Copyright Coding Bootcamp(2019)</div>
  </footer>

  </body>

</html>