<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>World Happiness Report</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
  <!-- Load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <!-- Icon for the webpage -->
  <link rel="icon" type="image" href="https://cdn11.bigcommerce.com/s-sq9zkarfah/images/stencil/608x608/products/94081/189422/Smiley-Happy-Face-Jdm-Japanese-2-Decal-Sticker__77985.1511154602.jpg?c=2">
   <!-- Load plotly.js into the DOM -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <!-- Load d3.js-->
  <script src="https://d3js.org/d3.v5.js"></script>
</head>

<body>
  <!-- Landing Page -->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color:lightseagreen;" href="index.html">Home</a>
      <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="page_max_temp.html">Max Temperature</a>
              <a class="dropdown-item" href="page_humidity.html">Humidity</a>
              <a class="dropdown-item" href="page_cloudiness.html">Cloudiness</a>
              <a class="dropdown-item" href="page_wind_speed.html">Wind Speed</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page_comparisons.html">Comparison</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page_data.html">Data</a>
        </li>

      </ul>
    </div>
  </nav>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>

<!-- Data from csv displayed as table-->
<div class="container">
  <div class="box">
    <h3 class="title">Data</h3>
    <hr /> 
    <p>The following table includes the data(2019) used for this project.</p>
    <!-- User input for filter condition on the field country -->
    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for a country..">
    <table class="table table-bordered table-striped table-hover table-condensed", id="myTable">
      <!-- <table class="table table-bordered table-hover table-condensed"> -->
        <thead>
        <tr>
        <th title="Field #1">rank</th>
        <th title="Field #2">country</th>
        <th title="Field #3">score</th>
        <th title="Field #4">gdp_per_capita</th>
        <th title="Field #5">social_support</th>
        <th title="Field #6">health_life_expectancy</th>
        <th title="Field #7">freedom_to_make_life_choices</th>
        <th title="Field #8">generosity</th>
        <th title="Field #9">perceptions_of_corruption</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td align="right">1</td>
        <td>Finland</td>
        <td align="right">7.769</td>
        <td align="right">1.34</td>
        <td align="right">1.587</td>
        <td align="right">0.986</td>
        <td align="right">0.596</td>
        <td align="right">0.153</td>
        <td align="right">0.393</td>
        </tr>
        <tr>
        <td align="right">2</td>
        <td>Denmark</td>
        <td align="right">7.6</td>
        <td align="right">1.383</td>
        <td align="right">1.573</td>
        <td align="right">0.996</td>
        <td align="right">0.592</td>
        <td align="right">0.252</td>
        <td align="right">0.41</td>
        </tr>
        <tr>
        <td align="right">3</td>
        <td>Norway</td>
        <td align="right">7.554</td>
        <td align="right">1.488</td>
        <td align="right">1.582</td>
        <td align="right">1.028</td>
        <td align="right">0.603</td>
        <td align="right">0.271</td>
        <td align="right">0.341</td>
        </tr>
        <tr>
        <td align="right">4</td>
        <td>Iceland</td>
        <td align="right">7.494</td>
        <td align="right">1.38</td>
        <td align="right">1.624</td>
        <td align="right">1.026</td>
        <td align="right">0.591</td>
        <td align="right">0.354</td>
        <td align="right">0.118</td>
        </tr>
        <tr>
        <td align="right">5</td>
        <td>Netherlands</td>
        <td align="right">7.488</td>
        <td align="right">1.396</td>
        <td align="right">1.522</td>
        <td align="right">0.999</td>
        <td align="right">0.557</td>
        <td align="right">0.322</td>
        <td align="right">0.298</td>
        </tr>
        <tr>
        <td align="right">6</td>
        <td>Switzerland</td>
        <td align="right">7.48</td>
        <td align="right">1.452</td>
        <td align="right">1.526</td>
        <td align="right">1.052</td>
        <td align="right">0.572</td>
        <td align="right">0.263</td>
        <td align="right">0.343</td>
        </tr>
        <tr>
        <td align="right">7</td>
        <td>Sweden</td>
        <td align="right">7.343</td>
        <td align="right">1.387</td>
        <td align="right">1.487</td>
        <td align="right">1.009</td>
        <td align="right">0.574</td>
        <td align="right">0.267</td>
        <td align="right">0.373</td>
        </tr>
        <tr>
        <td align="right">8</td>
        <td>New Zealand</td>
        <td align="right">7.307</td>
        <td align="right">1.303</td>
        <td align="right">1.557</td>
        <td align="right">1.026</td>
        <td align="right">0.585</td>
        <td align="right">0.33</td>
        <td align="right">0.38</td>
        </tr>
        <tr>
        <td align="right">9</td>
        <td>Canada</td>
        <td align="right">7.278</td>
        <td align="right">1.365</td>
        <td align="right">1.505</td>
        <td align="right">1.039</td>
        <td align="right">0.584</td>
        <td align="right">0.285</td>
        <td align="right">0.308</td>
        </tr>
        <tr>
        <td align="right">10</td>
        <td>Austria</td>
        <td align="right">7.246</td>
        <td align="right">1.376</td>
        <td align="right">1.475</td>
        <td align="right">1.016</td>
        <td align="right">0.532</td>
        <td align="right">0.244</td>
        <td align="right">0.226</td>
        </tr>
        <tr>
        <td align="right">11</td>
        <td>Australia</td>
        <td align="right">7.228</td>
        <td align="right">1.372</td>
        <td align="right">1.548</td>
        <td align="right">1.036</td>
        <td align="right">0.557</td>
        <td align="right">0.332</td>
        <td align="right">0.29</td>
        </tr>
        <tr>
        <td align="right">12</td>
        <td>Costa Rica</td>
        <td align="right">7.167</td>
        <td align="right">1.034</td>
        <td align="right">1.441</td>
        <td align="right">0.963</td>
        <td align="right">0.558</td>
        <td align="right">0.144</td>
        <td align="right">0.093</td>
        </tr>
        <tr>
        <td align="right">13</td>
        <td>Israel</td>
        <td align="right">7.139</td>
        <td align="right">1.276</td>
        <td align="right">1.455</td>
        <td align="right">1.029</td>
        <td align="right">0.371</td>
        <td align="right">0.261</td>
        <td align="right">0.082</td>
        </tr>
        <tr>
        <td align="right">14</td>
        <td>Luxembourg</td>
        <td align="right">7.09</td>
        <td align="right">1.609</td>
        <td align="right">1.479</td>
        <td align="right">1.012</td>
        <td align="right">0.526</td>
        <td align="right">0.194</td>
        <td align="right">0.316</td>
        </tr>
        <tr>
        <td align="right">15</td>
        <td>United Kingdom</td>
        <td align="right">7.054</td>
        <td align="right">1.333</td>
        <td align="right">1.538</td>
        <td align="right">0.996</td>
        <td align="right">0.45</td>
        <td align="right">0.348</td>
        <td align="right">0.278</td>
        </tr>
        <tr>
        <td align="right">16</td>
        <td>Ireland</td>
        <td align="right">7.021</td>
        <td align="right">1.499</td>
        <td align="right">1.553</td>
        <td align="right">0.999</td>
        <td align="right">0.516</td>
        <td align="right">0.298</td>
        <td align="right">0.31</td>
        </tr>
        <tr>
        <td align="right">17</td>
        <td>Germany</td>
        <td align="right">6.985</td>
        <td align="right">1.373</td>
        <td align="right">1.454</td>
        <td align="right">0.987</td>
        <td align="right">0.495</td>
        <td align="right">0.261</td>
        <td align="right">0.265</td>
        </tr>
        <tr>
        <td align="right">18</td>
        <td>Belgium</td>
        <td align="right">6.923</td>
        <td align="right">1.356</td>
        <td align="right">1.504</td>
        <td align="right">0.986</td>
        <td align="right">0.473</td>
        <td align="right">0.16</td>
        <td align="right">0.21</td>
        </tr>
        <tr>
        <td align="right">19</td>
        <td>United States</td>
        <td align="right">6.892</td>
        <td align="right">1.433</td>
        <td align="right">1.457</td>
        <td align="right">0.874</td>
        <td align="right">0.454</td>
        <td align="right">0.28</td>
        <td align="right">0.128</td>
        </tr>
        <tr>
        <td align="right">20</td>
        <td>Czech Republic</td>
        <td align="right">6.852</td>
        <td align="right">1.269</td>
        <td align="right">1.487</td>
        <td align="right">0.92</td>
        <td align="right">0.457</td>
        <td align="right">0.046</td>
        <td align="right">0.036</td>
        </tr>
        <tr>
        <td align="right">21</td>
        <td>United Arab Emirates</td>
        <td align="right">6.825</td>
        <td align="right">1.503</td>
        <td align="right">1.31</td>
        <td align="right">0.825</td>
        <td align="right">0.598</td>
        <td align="right">0.262</td>
        <td align="right">0.182</td>
        </tr>
        <tr>
        <td align="right">22</td>
        <td>Malta</td>
        <td align="right">6.726</td>
        <td align="right">1.3</td>
        <td align="right">1.52</td>
        <td align="right">0.999</td>
        <td align="right">0.564</td>
        <td align="right">0.375</td>
        <td align="right">0.151</td>
        </tr>
        <tr>
        <td align="right">23</td>
        <td>Mexico</td>
        <td align="right">6.595</td>
        <td align="right">1.07</td>
        <td align="right">1.323</td>
        <td align="right">0.861</td>
        <td align="right">0.433</td>
        <td align="right">0.074</td>
        <td align="right">0.073</td>
        </tr>
        <tr>
        <td align="right">24</td>
        <td>France</td>
        <td align="right">6.592</td>
        <td align="right">1.324</td>
        <td align="right">1.472</td>
        <td align="right">1.045</td>
        <td align="right">0.436</td>
        <td align="right">0.111</td>
        <td align="right">0.183</td>
        </tr>
        <tr>
        <td align="right">25</td>
        <td>Taiwan</td>
        <td align="right">6.446</td>
        <td align="right">1.368</td>
        <td align="right">1.43</td>
        <td align="right">0.914</td>
        <td align="right">0.351</td>
        <td align="right">0.242</td>
        <td align="right">0.097</td>
        </tr>
        <tr>
        <td align="right">26</td>
        <td>Chile</td>
        <td align="right">6.444</td>
        <td align="right">1.159</td>
        <td align="right">1.369</td>
        <td align="right">0.92</td>
        <td align="right">0.357</td>
        <td align="right">0.187</td>
        <td align="right">0.056</td>
        </tr>
        <tr>
        <td align="right">27</td>
        <td>Guatemala</td>
        <td align="right">6.436</td>
        <td align="right">0.8</td>
        <td align="right">1.269</td>
        <td align="right">0.746</td>
        <td align="right">0.535</td>
        <td align="right">0.175</td>
        <td align="right">0.078</td>
        </tr>
        <tr>
        <td align="right">28</td>
        <td>Saudi Arabia</td>
        <td align="right">6.375</td>
        <td align="right">1.403</td>
        <td align="right">1.357</td>
        <td align="right">0.795</td>
        <td align="right">0.439</td>
        <td align="right">0.08</td>
        <td align="right">0.132</td>
        </tr>
        <tr>
        <td align="right">29</td>
        <td>Qatar</td>
        <td align="right">6.374</td>
        <td align="right">1.684</td>
        <td align="right">1.313</td>
        <td align="right">0.871</td>
        <td align="right">0.555</td>
        <td align="right">0.22</td>
        <td align="right">0.167</td>
        </tr>
        <tr>
        <td align="right">30</td>
        <td>Spain</td>
        <td align="right">6.354</td>
        <td align="right">1.286</td>
        <td align="right">1.484</td>
        <td align="right">1.062</td>
        <td align="right">0.362</td>
        <td align="right">0.153</td>
        <td align="right">0.079</td>
        </tr>
        <tr>
        <td align="right">31</td>
        <td>Panama</td>
        <td align="right">6.321</td>
        <td align="right">1.149</td>
        <td align="right">1.442</td>
        <td align="right">0.91</td>
        <td align="right">0.516</td>
        <td align="right">0.109</td>
        <td align="right">0.054</td>
        </tr>
        <tr>
        <td align="right">32</td>
        <td>Brazil</td>
        <td align="right">6.3</td>
        <td align="right">1.004</td>
        <td align="right">1.439</td>
        <td align="right">0.802</td>
        <td align="right">0.39</td>
        <td align="right">0.099</td>
        <td align="right">0.086</td>
        </tr>
        <tr>
        <td align="right">33</td>
        <td>Uruguay</td>
        <td align="right">6.293</td>
        <td align="right">1.124</td>
        <td align="right">1.465</td>
        <td align="right">0.891</td>
        <td align="right">0.523</td>
        <td align="right">0.127</td>
        <td align="right">0.15</td>
        </tr>
        <tr>
        <td align="right">34</td>
        <td>Singapore</td>
        <td align="right">6.262</td>
        <td align="right">1.572</td>
        <td align="right">1.463</td>
        <td align="right">1.141</td>
        <td align="right">0.556</td>
        <td align="right">0.271</td>
        <td align="right">0.453</td>
        </tr>
        <tr>
        <td align="right">35</td>
        <td>El Salvador</td>
        <td align="right">6.253</td>
        <td align="right">0.794</td>
        <td align="right">1.242</td>
        <td align="right">0.789</td>
        <td align="right">0.43</td>
        <td align="right">0.093</td>
        <td align="right">0.074</td>
        </tr>
        <tr>
        <td align="right">36</td>
        <td>Italy</td>
        <td align="right">6.223</td>
        <td align="right">1.294</td>
        <td align="right">1.488</td>
        <td align="right">1.039</td>
        <td align="right">0.231</td>
        <td align="right">0.158</td>
        <td align="right">0.03</td>
        </tr>
        <tr>
        <td align="right">37</td>
        <td>Bahrain</td>
        <td align="right">6.199</td>
        <td align="right">1.362</td>
        <td align="right">1.368</td>
        <td align="right">0.871</td>
        <td align="right">0.536</td>
        <td align="right">0.255</td>
        <td align="right">0.11</td>
        </tr>
        <tr>
        <td align="right">38</td>
        <td>Slovakia</td>
        <td align="right">6.198</td>
        <td align="right">1.246</td>
        <td align="right">1.504</td>
        <td align="right">0.881</td>
        <td align="right">0.334</td>
        <td align="right">0.121</td>
        <td align="right">0.014</td>
        </tr>
        <tr>
        <td align="right">39</td>
        <td>Trinidad &amp; Tobago</td>
        <td align="right">6.192</td>
        <td align="right">1.231</td>
        <td align="right">1.477</td>
        <td align="right">0.713</td>
        <td align="right">0.489</td>
        <td align="right">0.185</td>
        <td align="right">0.016</td>
        </tr>
        <tr>
        <td align="right">40</td>
        <td>Poland</td>
        <td align="right">6.182</td>
        <td align="right">1.206</td>
        <td align="right">1.438</td>
        <td align="right">0.884</td>
        <td align="right">0.483</td>
        <td align="right">0.117</td>
        <td align="right">0.05</td>
        </tr>
        <tr>
        <td align="right">41</td>
        <td>Uzbekistan</td>
        <td align="right">6.174</td>
        <td align="right">0.745</td>
        <td align="right">1.529</td>
        <td align="right">0.756</td>
        <td align="right">0.631</td>
        <td align="right">0.322</td>
        <td align="right">0.24</td>
        </tr>
        <tr>
        <td align="right">42</td>
        <td>Lithuania</td>
        <td align="right">6.149</td>
        <td align="right">1.238</td>
        <td align="right">1.515</td>
        <td align="right">0.818</td>
        <td align="right">0.291</td>
        <td align="right">0.043</td>
        <td align="right">0.042</td>
        </tr>
        <tr>
        <td align="right">43</td>
        <td>Colombia</td>
        <td align="right">6.125</td>
        <td align="right">0.985</td>
        <td align="right">1.41</td>
        <td align="right">0.841</td>
        <td align="right">0.47</td>
        <td align="right">0.099</td>
        <td align="right">0.034</td>
        </tr>
        <tr>
        <td align="right">44</td>
        <td>Slovenia</td>
        <td align="right">6.118</td>
        <td align="right">1.258</td>
        <td align="right">1.523</td>
        <td align="right">0.953</td>
        <td align="right">0.564</td>
        <td align="right">0.144</td>
        <td align="right">0.057</td>
        </tr>
        <tr>
        <td align="right">45</td>
        <td>Nicaragua</td>
        <td align="right">6.105</td>
        <td align="right">0.694</td>
        <td align="right">1.325</td>
        <td align="right">0.835</td>
        <td align="right">0.435</td>
        <td align="right">0.2</td>
        <td align="right">0.127</td>
        </tr>
        <tr>
        <td align="right">46</td>
        <td>Kosovo</td>
        <td align="right">6.1</td>
        <td align="right">0.882</td>
        <td align="right">1.232</td>
        <td align="right">0.758</td>
        <td align="right">0.489</td>
        <td align="right">0.262</td>
        <td align="right">0.006</td>
        </tr>
        <tr>
        <td align="right">47</td>
        <td>Argentina</td>
        <td align="right">6.086</td>
        <td align="right">1.092</td>
        <td align="right">1.432</td>
        <td align="right">0.881</td>
        <td align="right">0.471</td>
        <td align="right">0.066</td>
        <td align="right">0.05</td>
        </tr>
        <tr>
        <td align="right">48</td>
        <td>Romania</td>
        <td align="right">6.07</td>
        <td align="right">1.162</td>
        <td align="right">1.232</td>
        <td align="right">0.825</td>
        <td align="right">0.462</td>
        <td align="right">0.083</td>
        <td align="right">0.005</td>
        </tr>
        <tr>
        <td align="right">49</td>
        <td>Cyprus</td>
        <td align="right">6.046</td>
        <td align="right">1.263</td>
        <td align="right">1.223</td>
        <td align="right">1.042</td>
        <td align="right">0.406</td>
        <td align="right">0.19</td>
        <td align="right">0.041</td>
        </tr>
        <tr>
        <td align="right">50</td>
        <td>Ecuador</td>
        <td align="right">6.028</td>
        <td align="right">0.912</td>
        <td align="right">1.312</td>
        <td align="right">0.868</td>
        <td align="right">0.498</td>
        <td align="right">0.126</td>
        <td align="right">0.087</td>
        </tr>
        <tr>
        <td align="right">51</td>
        <td>Kuwait</td>
        <td align="right">6.021</td>
        <td align="right">1.5</td>
        <td align="right">1.319</td>
        <td align="right">0.808</td>
        <td align="right">0.493</td>
        <td align="right">0.142</td>
        <td align="right">0.097</td>
        </tr>
        <tr>
        <td align="right">52</td>
        <td>Thailand</td>
        <td align="right">6.008</td>
        <td align="right">1.05</td>
        <td align="right">1.409</td>
        <td align="right">0.828</td>
        <td align="right">0.557</td>
        <td align="right">0.359</td>
        <td align="right">0.028</td>
        </tr>
        <tr>
        <td align="right">53</td>
        <td>Latvia</td>
        <td align="right">5.94</td>
        <td align="right">1.187</td>
        <td align="right">1.465</td>
        <td align="right">0.812</td>
        <td align="right">0.264</td>
        <td align="right">0.075</td>
        <td align="right">0.064</td>
        </tr>
        <tr>
        <td align="right">54</td>
        <td>South Korea</td>
        <td align="right">5.895</td>
        <td align="right">1.301</td>
        <td align="right">1.219</td>
        <td align="right">1.036</td>
        <td align="right">0.159</td>
        <td align="right">0.175</td>
        <td align="right">0.056</td>
        </tr>
        <tr>
        <td align="right">55</td>
        <td>Estonia</td>
        <td align="right">5.893</td>
        <td align="right">1.237</td>
        <td align="right">1.528</td>
        <td align="right">0.874</td>
        <td align="right">0.495</td>
        <td align="right">0.103</td>
        <td align="right">0.161</td>
        </tr>
        <tr>
        <td align="right">56</td>
        <td>Jamaica</td>
        <td align="right">5.89</td>
        <td align="right">0.831</td>
        <td align="right">1.478</td>
        <td align="right">0.831</td>
        <td align="right">0.49</td>
        <td align="right">0.107</td>
        <td align="right">0.028</td>
        </tr>
        <tr>
        <td align="right">57</td>
        <td>Mauritius</td>
        <td align="right">5.888</td>
        <td align="right">1.12</td>
        <td align="right">1.402</td>
        <td align="right">0.798</td>
        <td align="right">0.498</td>
        <td align="right">0.215</td>
        <td align="right">0.06</td>
        </tr>
        <tr>
        <td align="right">58</td>
        <td>Japan</td>
        <td align="right">5.886</td>
        <td align="right">1.327</td>
        <td align="right">1.419</td>
        <td align="right">1.088</td>
        <td align="right">0.445</td>
        <td align="right">0.069</td>
        <td align="right">0.14</td>
        </tr>
        <tr>
        <td align="right">59</td>
        <td>Honduras</td>
        <td align="right">5.86</td>
        <td align="right">0.642</td>
        <td align="right">1.236</td>
        <td align="right">0.828</td>
        <td align="right">0.507</td>
        <td align="right">0.246</td>
        <td align="right">0.078</td>
        </tr>
        <tr>
        <td align="right">60</td>
        <td>Kazakhstan</td>
        <td align="right">5.809</td>
        <td align="right">1.173</td>
        <td align="right">1.508</td>
        <td align="right">0.729</td>
        <td align="right">0.41</td>
        <td align="right">0.146</td>
        <td align="right">0.096</td>
        </tr>
        <tr>
        <td align="right">61</td>
        <td>Bolivia</td>
        <td align="right">5.779</td>
        <td align="right">0.776</td>
        <td align="right">1.209</td>
        <td align="right">0.706</td>
        <td align="right">0.511</td>
        <td align="right">0.137</td>
        <td align="right">0.064</td>
        </tr>
        <tr>
        <td align="right">62</td>
        <td>Hungary</td>
        <td align="right">5.758</td>
        <td align="right">1.201</td>
        <td align="right">1.41</td>
        <td align="right">0.828</td>
        <td align="right">0.199</td>
        <td align="right">0.081</td>
        <td align="right">0.02</td>
        </tr>
        <tr>
        <td align="right">63</td>
        <td>Paraguay</td>
        <td align="right">5.743</td>
        <td align="right">0.855</td>
        <td align="right">1.475</td>
        <td align="right">0.777</td>
        <td align="right">0.514</td>
        <td align="right">0.184</td>
        <td align="right">0.08</td>
        </tr>
        <tr>
        <td align="right">64</td>
        <td>Northern Cyprus</td>
        <td align="right">5.718</td>
        <td align="right">1.263</td>
        <td align="right">1.252</td>
        <td align="right">1.042</td>
        <td align="right">0.417</td>
        <td align="right">0.191</td>
        <td align="right">0.162</td>
        </tr>
        <tr>
        <td align="right">65</td>
        <td>Peru</td>
        <td align="right">5.697</td>
        <td align="right">0.96</td>
        <td align="right">1.274</td>
        <td align="right">0.854</td>
        <td align="right">0.455</td>
        <td align="right">0.083</td>
        <td align="right">0.027</td>
        </tr>
        <tr>
        <td align="right">66</td>
        <td>Portugal</td>
        <td align="right">5.693</td>
        <td align="right">1.221</td>
        <td align="right">1.431</td>
        <td align="right">0.999</td>
        <td align="right">0.508</td>
        <td align="right">0.047</td>
        <td align="right">0.025</td>
        </tr>
        <tr>
        <td align="right">67</td>
        <td>Pakistan</td>
        <td align="right">5.653</td>
        <td align="right">0.677</td>
        <td align="right">0.886</td>
        <td align="right">0.535</td>
        <td align="right">0.313</td>
        <td align="right">0.22</td>
        <td align="right">0.098</td>
        </tr>
        <tr>
        <td align="right">68</td>
        <td>Russia</td>
        <td align="right">5.648</td>
        <td align="right">1.183</td>
        <td align="right">1.452</td>
        <td align="right">0.726</td>
        <td align="right">0.334</td>
        <td align="right">0.082</td>
        <td align="right">0.031</td>
        </tr>
        <tr>
        <td align="right">69</td>
        <td>Philippines</td>
        <td align="right">5.631</td>
        <td align="right">0.807</td>
        <td align="right">1.293</td>
        <td align="right">0.657</td>
        <td align="right">0.558</td>
        <td align="right">0.117</td>
        <td align="right">0.107</td>
        </tr>
        <tr>
        <td align="right">70</td>
        <td>Serbia</td>
        <td align="right">5.603</td>
        <td align="right">1.004</td>
        <td align="right">1.383</td>
        <td align="right">0.854</td>
        <td align="right">0.282</td>
        <td align="right">0.137</td>
        <td align="right">0.039</td>
        </tr>
        <tr>
        <td align="right">71</td>
        <td>Moldova</td>
        <td align="right">5.529</td>
        <td align="right">0.685</td>
        <td align="right">1.328</td>
        <td align="right">0.739</td>
        <td align="right">0.245</td>
        <td align="right">0.181</td>
        <td align="right">0</td>
        </tr>
        <tr>
        <td align="right">72</td>
        <td>Libya</td>
        <td align="right">5.525</td>
        <td align="right">1.044</td>
        <td align="right">1.303</td>
        <td align="right">0.673</td>
        <td align="right">0.416</td>
        <td align="right">0.133</td>
        <td align="right">0.152</td>
        </tr>
        <tr>
        <td align="right">73</td>
        <td>Montenegro</td>
        <td align="right">5.523</td>
        <td align="right">1.051</td>
        <td align="right">1.361</td>
        <td align="right">0.871</td>
        <td align="right">0.197</td>
        <td align="right">0.142</td>
        <td align="right">0.08</td>
        </tr>
        <tr>
        <td align="right">74</td>
        <td>Tajikistan</td>
        <td align="right">5.467</td>
        <td align="right">0.493</td>
        <td align="right">1.098</td>
        <td align="right">0.718</td>
        <td align="right">0.389</td>
        <td align="right">0.23</td>
        <td align="right">0.144</td>
        </tr>
        <tr>
        <td align="right">75</td>
        <td>Croatia</td>
        <td align="right">5.432</td>
        <td align="right">1.155</td>
        <td align="right">1.266</td>
        <td align="right">0.914</td>
        <td align="right">0.296</td>
        <td align="right">0.119</td>
        <td align="right">0.022</td>
        </tr>
        <tr>
        <td align="right">76</td>
        <td>Hong Kong</td>
        <td align="right">5.43</td>
        <td align="right">1.438</td>
        <td align="right">1.277</td>
        <td align="right">1.122</td>
        <td align="right">0.44</td>
        <td align="right">0.258</td>
        <td align="right">0.287</td>
        </tr>
        <tr>
        <td align="right">77</td>
        <td>Dominican Republic</td>
        <td align="right">5.425</td>
        <td align="right">1.015</td>
        <td align="right">1.401</td>
        <td align="right">0.779</td>
        <td align="right">0.497</td>
        <td align="right">0.113</td>
        <td align="right">0.101</td>
        </tr>
        <tr>
        <td align="right">78</td>
        <td>Bosnia and Herzegovina</td>
        <td align="right">5.386</td>
        <td align="right">0.945</td>
        <td align="right">1.212</td>
        <td align="right">0.845</td>
        <td align="right">0.212</td>
        <td align="right">0.263</td>
        <td align="right">0.006</td>
        </tr>
        <tr>
        <td align="right">79</td>
        <td>Turkey</td>
        <td align="right">5.373</td>
        <td align="right">1.183</td>
        <td align="right">1.36</td>
        <td align="right">0.808</td>
        <td align="right">0.195</td>
        <td align="right">0.083</td>
        <td align="right">0.106</td>
        </tr>
        <tr>
        <td align="right">80</td>
        <td>Malaysia</td>
        <td align="right">5.339</td>
        <td align="right">1.221</td>
        <td align="right">1.171</td>
        <td align="right">0.828</td>
        <td align="right">0.508</td>
        <td align="right">0.26</td>
        <td align="right">0.024</td>
        </tr>
        <tr>
        <td align="right">81</td>
        <td>Belarus</td>
        <td align="right">5.323</td>
        <td align="right">1.067</td>
        <td align="right">1.465</td>
        <td align="right">0.789</td>
        <td align="right">0.235</td>
        <td align="right">0.094</td>
        <td align="right">0.142</td>
        </tr>
        <tr>
        <td align="right">82</td>
        <td>Greece</td>
        <td align="right">5.287</td>
        <td align="right">1.181</td>
        <td align="right">1.156</td>
        <td align="right">0.999</td>
        <td align="right">0.067</td>
        <td align="right">0</td>
        <td align="right">0.034</td>
        </tr>
        <tr>
        <td align="right">83</td>
        <td>Mongolia</td>
        <td align="right">5.285</td>
        <td align="right">0.948</td>
        <td align="right">1.531</td>
        <td align="right">0.667</td>
        <td align="right">0.317</td>
        <td align="right">0.235</td>
        <td align="right">0.038</td>
        </tr>
        <tr>
        <td align="right">84</td>
        <td>North Macedonia</td>
        <td align="right">5.274</td>
        <td align="right">0.983</td>
        <td align="right">1.294</td>
        <td align="right">0.838</td>
        <td align="right">0.345</td>
        <td align="right">0.185</td>
        <td align="right">0.034</td>
        </tr>
        <tr>
        <td align="right">85</td>
        <td>Nigeria</td>
        <td align="right">5.265</td>
        <td align="right">0.696</td>
        <td align="right">1.111</td>
        <td align="right">0.245</td>
        <td align="right">0.426</td>
        <td align="right">0.215</td>
        <td align="right">0.041</td>
        </tr>
        <tr>
        <td align="right">86</td>
        <td>Kyrgyzstan</td>
        <td align="right">5.261</td>
        <td align="right">0.551</td>
        <td align="right">1.438</td>
        <td align="right">0.723</td>
        <td align="right">0.508</td>
        <td align="right">0.3</td>
        <td align="right">0.023</td>
        </tr>
        <tr>
        <td align="right">87</td>
        <td>Turkmenistan</td>
        <td align="right">5.247</td>
        <td align="right">1.052</td>
        <td align="right">1.538</td>
        <td align="right">0.657</td>
        <td align="right">0.394</td>
        <td align="right">0.244</td>
        <td align="right">0.028</td>
        </tr>
        <tr>
        <td align="right">88</td>
        <td>Algeria</td>
        <td align="right">5.211</td>
        <td align="right">1.002</td>
        <td align="right">1.16</td>
        <td align="right">0.785</td>
        <td align="right">0.086</td>
        <td align="right">0.073</td>
        <td align="right">0.114</td>
        </tr>
        <tr>
        <td align="right">89</td>
        <td>Morocco</td>
        <td align="right">5.208</td>
        <td align="right">0.801</td>
        <td align="right">0.782</td>
        <td align="right">0.782</td>
        <td align="right">0.418</td>
        <td align="right">0.036</td>
        <td align="right">0.076</td>
        </tr>
        <tr>
        <td align="right">90</td>
        <td>Azerbaijan</td>
        <td align="right">5.208</td>
        <td align="right">1.043</td>
        <td align="right">1.147</td>
        <td align="right">0.769</td>
        <td align="right">0.351</td>
        <td align="right">0.035</td>
        <td align="right">0.182</td>
        </tr>
        <tr>
        <td align="right">91</td>
        <td>Lebanon</td>
        <td align="right">5.197</td>
        <td align="right">0.987</td>
        <td align="right">1.224</td>
        <td align="right">0.815</td>
        <td align="right">0.216</td>
        <td align="right">0.166</td>
        <td align="right">0.027</td>
        </tr>
        <tr>
        <td align="right">92</td>
        <td>Indonesia</td>
        <td align="right">5.192</td>
        <td align="right">0.931</td>
        <td align="right">1.203</td>
        <td align="right">0.66</td>
        <td align="right">0.491</td>
        <td align="right">0.498</td>
        <td align="right">0.028</td>
        </tr>
        <tr>
        <td align="right">93</td>
        <td>China</td>
        <td align="right">5.191</td>
        <td align="right">1.029</td>
        <td align="right">1.125</td>
        <td align="right">0.893</td>
        <td align="right">0.521</td>
        <td align="right">0.058</td>
        <td align="right">0.1</td>
        </tr>
        <tr>
        <td align="right">94</td>
        <td>Vietnam</td>
        <td align="right">5.175</td>
        <td align="right">0.741</td>
        <td align="right">1.346</td>
        <td align="right">0.851</td>
        <td align="right">0.543</td>
        <td align="right">0.147</td>
        <td align="right">0.073</td>
        </tr>
        <tr>
        <td align="right">95</td>
        <td>Bhutan</td>
        <td align="right">5.082</td>
        <td align="right">0.813</td>
        <td align="right">1.321</td>
        <td align="right">0.604</td>
        <td align="right">0.457</td>
        <td align="right">0.37</td>
        <td align="right">0.167</td>
        </tr>
        <tr>
        <td align="right">96</td>
        <td>Cameroon</td>
        <td align="right">5.044</td>
        <td align="right">0.549</td>
        <td align="right">0.91</td>
        <td align="right">0.331</td>
        <td align="right">0.381</td>
        <td align="right">0.187</td>
        <td align="right">0.037</td>
        </tr>
        <tr>
        <td align="right">97</td>
        <td>Bulgaria</td>
        <td align="right">5.011</td>
        <td align="right">1.092</td>
        <td align="right">1.513</td>
        <td align="right">0.815</td>
        <td align="right">0.311</td>
        <td align="right">0.081</td>
        <td align="right">0.004</td>
        </tr>
        <tr>
        <td align="right">98</td>
        <td>Ghana</td>
        <td align="right">4.996</td>
        <td align="right">0.611</td>
        <td align="right">0.868</td>
        <td align="right">0.486</td>
        <td align="right">0.381</td>
        <td align="right">0.245</td>
        <td align="right">0.04</td>
        </tr>
        <tr>
        <td align="right">99</td>
        <td>Ivory Coast</td>
        <td align="right">4.944</td>
        <td align="right">0.569</td>
        <td align="right">0.808</td>
        <td align="right">0.232</td>
        <td align="right">0.352</td>
        <td align="right">0.154</td>
        <td align="right">0.09</td>
        </tr>
        <tr>
        <td align="right">100</td>
        <td>Nepal</td>
        <td align="right">4.913</td>
        <td align="right">0.446</td>
        <td align="right">1.226</td>
        <td align="right">0.677</td>
        <td align="right">0.439</td>
        <td align="right">0.285</td>
        <td align="right">0.089</td>
        </tr>
        <tr>
        <td align="right">101</td>
        <td>Jordan</td>
        <td align="right">4.906</td>
        <td align="right">0.837</td>
        <td align="right">1.225</td>
        <td align="right">0.815</td>
        <td align="right">0.383</td>
        <td align="right">0.11</td>
        <td align="right">0.13</td>
        </tr>
        <tr>
        <td align="right">102</td>
        <td>Benin</td>
        <td align="right">4.883</td>
        <td align="right">0.393</td>
        <td align="right">0.437</td>
        <td align="right">0.397</td>
        <td align="right">0.349</td>
        <td align="right">0.175</td>
        <td align="right">0.082</td>
        </tr>
        <tr>
        <td align="right">103</td>
        <td>Congo (Brazzaville)</td>
        <td align="right">4.812</td>
        <td align="right">0.673</td>
        <td align="right">0.799</td>
        <td align="right">0.508</td>
        <td align="right">0.372</td>
        <td align="right">0.105</td>
        <td align="right">0.093</td>
        </tr>
        <tr>
        <td align="right">104</td>
        <td>Gabon</td>
        <td align="right">4.799</td>
        <td align="right">1.057</td>
        <td align="right">1.183</td>
        <td align="right">0.571</td>
        <td align="right">0.295</td>
        <td align="right">0.043</td>
        <td align="right">0.055</td>
        </tr>
        <tr>
        <td align="right">105</td>
        <td>Laos</td>
        <td align="right">4.796</td>
        <td align="right">0.764</td>
        <td align="right">1.03</td>
        <td align="right">0.551</td>
        <td align="right">0.547</td>
        <td align="right">0.266</td>
        <td align="right">0.164</td>
        </tr>
        <tr>
        <td align="right">106</td>
        <td>South Africa</td>
        <td align="right">4.722</td>
        <td align="right">0.96</td>
        <td align="right">1.351</td>
        <td align="right">0.469</td>
        <td align="right">0.389</td>
        <td align="right">0.13</td>
        <td align="right">0.055</td>
        </tr>
        <tr>
        <td align="right">107</td>
        <td>Albania</td>
        <td align="right">4.719</td>
        <td align="right">0.947</td>
        <td align="right">0.848</td>
        <td align="right">0.874</td>
        <td align="right">0.383</td>
        <td align="right">0.178</td>
        <td align="right">0.027</td>
        </tr>
        <tr>
        <td align="right">108</td>
        <td>Venezuela</td>
        <td align="right">4.707</td>
        <td align="right">0.96</td>
        <td align="right">1.427</td>
        <td align="right">0.805</td>
        <td align="right">0.154</td>
        <td align="right">0.064</td>
        <td align="right">0.047</td>
        </tr>
        <tr>
        <td align="right">109</td>
        <td>Cambodia</td>
        <td align="right">4.7</td>
        <td align="right">0.574</td>
        <td align="right">1.122</td>
        <td align="right">0.637</td>
        <td align="right">0.609</td>
        <td align="right">0.232</td>
        <td align="right">0.062</td>
        </tr>
        <tr>
        <td align="right">110</td>
        <td>Palestinian Territories</td>
        <td align="right">4.696</td>
        <td align="right">0.657</td>
        <td align="right">1.247</td>
        <td align="right">0.672</td>
        <td align="right">0.225</td>
        <td align="right">0.103</td>
        <td align="right">0.066</td>
        </tr>
        <tr>
        <td align="right">111</td>
        <td>Senegal</td>
        <td align="right">4.681</td>
        <td align="right">0.45</td>
        <td align="right">1.134</td>
        <td align="right">0.571</td>
        <td align="right">0.292</td>
        <td align="right">0.153</td>
        <td align="right">0.072</td>
        </tr>
        <tr>
        <td align="right">112</td>
        <td>Somalia</td>
        <td align="right">4.668</td>
        <td align="right">0</td>
        <td align="right">0.698</td>
        <td align="right">0.268</td>
        <td align="right">0.559</td>
        <td align="right">0.243</td>
        <td align="right">0.27</td>
        </tr>
        <tr>
        <td align="right">113</td>
        <td>Namibia</td>
        <td align="right">4.639</td>
        <td align="right">0.879</td>
        <td align="right">1.313</td>
        <td align="right">0.477</td>
        <td align="right">0.401</td>
        <td align="right">0.07</td>
        <td align="right">0.056</td>
        </tr>
        <tr>
        <td align="right">114</td>
        <td>Niger</td>
        <td align="right">4.628</td>
        <td align="right">0.138</td>
        <td align="right">0.774</td>
        <td align="right">0.366</td>
        <td align="right">0.318</td>
        <td align="right">0.188</td>
        <td align="right">0.102</td>
        </tr>
        <tr>
        <td align="right">115</td>
        <td>Burkina Faso</td>
        <td align="right">4.587</td>
        <td align="right">0.331</td>
        <td align="right">1.056</td>
        <td align="right">0.38</td>
        <td align="right">0.255</td>
        <td align="right">0.177</td>
        <td align="right">0.113</td>
        </tr>
        <tr>
        <td align="right">116</td>
        <td>Armenia</td>
        <td align="right">4.559</td>
        <td align="right">0.85</td>
        <td align="right">1.055</td>
        <td align="right">0.815</td>
        <td align="right">0.283</td>
        <td align="right">0.095</td>
        <td align="right">0.064</td>
        </tr>
        <tr>
        <td align="right">117</td>
        <td>Iran</td>
        <td align="right">4.548</td>
        <td align="right">1.1</td>
        <td align="right">0.842</td>
        <td align="right">0.785</td>
        <td align="right">0.305</td>
        <td align="right">0.27</td>
        <td align="right">0.125</td>
        </tr>
        <tr>
        <td align="right">118</td>
        <td>Guinea</td>
        <td align="right">4.534</td>
        <td align="right">0.38</td>
        <td align="right">0.829</td>
        <td align="right">0.375</td>
        <td align="right">0.332</td>
        <td align="right">0.207</td>
        <td align="right">0.086</td>
        </tr>
        <tr>
        <td align="right">119</td>
        <td>Georgia</td>
        <td align="right">4.519</td>
        <td align="right">0.886</td>
        <td align="right">0.666</td>
        <td align="right">0.752</td>
        <td align="right">0.346</td>
        <td align="right">0.043</td>
        <td align="right">0.164</td>
        </tr>
        <tr>
        <td align="right">120</td>
        <td>Gambia</td>
        <td align="right">4.516</td>
        <td align="right">0.308</td>
        <td align="right">0.939</td>
        <td align="right">0.428</td>
        <td align="right">0.382</td>
        <td align="right">0.269</td>
        <td align="right">0.167</td>
        </tr>
        <tr>
        <td align="right">121</td>
        <td>Kenya</td>
        <td align="right">4.509</td>
        <td align="right">0.512</td>
        <td align="right">0.983</td>
        <td align="right">0.581</td>
        <td align="right">0.431</td>
        <td align="right">0.372</td>
        <td align="right">0.053</td>
        </tr>
        <tr>
        <td align="right">122</td>
        <td>Mauritania</td>
        <td align="right">4.49</td>
        <td align="right">0.57</td>
        <td align="right">1.167</td>
        <td align="right">0.489</td>
        <td align="right">0.066</td>
        <td align="right">0.106</td>
        <td align="right">0.088</td>
        </tr>
        <tr>
        <td align="right">123</td>
        <td>Mozambique</td>
        <td align="right">4.466</td>
        <td align="right">0.204</td>
        <td align="right">0.986</td>
        <td align="right">0.39</td>
        <td align="right">0.494</td>
        <td align="right">0.197</td>
        <td align="right">0.138</td>
        </tr>
        <tr>
        <td align="right">124</td>
        <td>Tunisia</td>
        <td align="right">4.461</td>
        <td align="right">0.921</td>
        <td align="right">1</td>
        <td align="right">0.815</td>
        <td align="right">0.167</td>
        <td align="right">0.059</td>
        <td align="right">0.055</td>
        </tr>
        <tr>
        <td align="right">125</td>
        <td>Bangladesh</td>
        <td align="right">4.456</td>
        <td align="right">0.562</td>
        <td align="right">0.928</td>
        <td align="right">0.723</td>
        <td align="right">0.527</td>
        <td align="right">0.166</td>
        <td align="right">0.143</td>
        </tr>
        <tr>
        <td align="right">126</td>
        <td>Iraq</td>
        <td align="right">4.437</td>
        <td align="right">1.043</td>
        <td align="right">0.98</td>
        <td align="right">0.574</td>
        <td align="right">0.241</td>
        <td align="right">0.148</td>
        <td align="right">0.089</td>
        </tr>
        <tr>
        <td align="right">127</td>
        <td>Congo (Kinshasa)</td>
        <td align="right">4.418</td>
        <td align="right">0.094</td>
        <td align="right">1.125</td>
        <td align="right">0.357</td>
        <td align="right">0.269</td>
        <td align="right">0.212</td>
        <td align="right">0.053</td>
        </tr>
        <tr>
        <td align="right">128</td>
        <td>Mali</td>
        <td align="right">4.39</td>
        <td align="right">0.385</td>
        <td align="right">1.105</td>
        <td align="right">0.308</td>
        <td align="right">0.327</td>
        <td align="right">0.153</td>
        <td align="right">0.052</td>
        </tr>
        <tr>
        <td align="right">129</td>
        <td>Sierra Leone</td>
        <td align="right">4.374</td>
        <td align="right">0.268</td>
        <td align="right">0.841</td>
        <td align="right">0.242</td>
        <td align="right">0.309</td>
        <td align="right">0.252</td>
        <td align="right">0.045</td>
        </tr>
        <tr>
        <td align="right">130</td>
        <td>Sri Lanka</td>
        <td align="right">4.366</td>
        <td align="right">0.949</td>
        <td align="right">1.265</td>
        <td align="right">0.831</td>
        <td align="right">0.47</td>
        <td align="right">0.244</td>
        <td align="right">0.047</td>
        </tr>
        <tr>
        <td align="right">131</td>
        <td>Myanmar</td>
        <td align="right">4.36</td>
        <td align="right">0.71</td>
        <td align="right">1.181</td>
        <td align="right">0.555</td>
        <td align="right">0.525</td>
        <td align="right">0.566</td>
        <td align="right">0.172</td>
        </tr>
        <tr>
        <td align="right">132</td>
        <td>Chad</td>
        <td align="right">4.35</td>
        <td align="right">0.35</td>
        <td align="right">0.766</td>
        <td align="right">0.192</td>
        <td align="right">0.174</td>
        <td align="right">0.198</td>
        <td align="right">0.078</td>
        </tr>
        <tr>
        <td align="right">133</td>
        <td>Ukraine</td>
        <td align="right">4.332</td>
        <td align="right">0.82</td>
        <td align="right">1.39</td>
        <td align="right">0.739</td>
        <td align="right">0.178</td>
        <td align="right">0.187</td>
        <td align="right">0.01</td>
        </tr>
        <tr>
        <td align="right">134</td>
        <td>Ethiopia</td>
        <td align="right">4.286</td>
        <td align="right">0.336</td>
        <td align="right">1.033</td>
        <td align="right">0.532</td>
        <td align="right">0.344</td>
        <td align="right">0.209</td>
        <td align="right">0.1</td>
        </tr>
        <tr>
        <td align="right">135</td>
        <td>Swaziland</td>
        <td align="right">4.212</td>
        <td align="right">0.811</td>
        <td align="right">1.149</td>
        <td align="right">0</td>
        <td align="right">0.313</td>
        <td align="right">0.074</td>
        <td align="right">0.135</td>
        </tr>
        <tr>
        <td align="right">136</td>
        <td>Uganda</td>
        <td align="right">4.189</td>
        <td align="right">0.332</td>
        <td align="right">1.069</td>
        <td align="right">0.443</td>
        <td align="right">0.356</td>
        <td align="right">0.252</td>
        <td align="right">0.06</td>
        </tr>
        <tr>
        <td align="right">137</td>
        <td>Egypt</td>
        <td align="right">4.166</td>
        <td align="right">0.913</td>
        <td align="right">1.039</td>
        <td align="right">0.644</td>
        <td align="right">0.241</td>
        <td align="right">0.076</td>
        <td align="right">0.067</td>
        </tr>
        <tr>
        <td align="right">138</td>
        <td>Zambia</td>
        <td align="right">4.107</td>
        <td align="right">0.578</td>
        <td align="right">1.058</td>
        <td align="right">0.426</td>
        <td align="right">0.431</td>
        <td align="right">0.247</td>
        <td align="right">0.087</td>
        </tr>
        <tr>
        <td align="right">139</td>
        <td>Togo</td>
        <td align="right">4.085</td>
        <td align="right">0.275</td>
        <td align="right">0.572</td>
        <td align="right">0.41</td>
        <td align="right">0.293</td>
        <td align="right">0.177</td>
        <td align="right">0.085</td>
        </tr>
        <tr>
        <td align="right">140</td>
        <td>India</td>
        <td align="right">4.015</td>
        <td align="right">0.755</td>
        <td align="right">0.765</td>
        <td align="right">0.588</td>
        <td align="right">0.498</td>
        <td align="right">0.2</td>
        <td align="right">0.085</td>
        </tr>
        <tr>
        <td align="right">141</td>
        <td>Liberia</td>
        <td align="right">3.975</td>
        <td align="right">0.073</td>
        <td align="right">0.922</td>
        <td align="right">0.443</td>
        <td align="right">0.37</td>
        <td align="right">0.233</td>
        <td align="right">0.033</td>
        </tr>
        <tr>
        <td align="right">142</td>
        <td>Comoros</td>
        <td align="right">3.973</td>
        <td align="right">0.274</td>
        <td align="right">0.757</td>
        <td align="right">0.505</td>
        <td align="right">0.142</td>
        <td align="right">0.275</td>
        <td align="right">0.078</td>
        </tr>
        <tr>
        <td align="right">143</td>
        <td>Madagascar</td>
        <td align="right">3.933</td>
        <td align="right">0.274</td>
        <td align="right">0.916</td>
        <td align="right">0.555</td>
        <td align="right">0.148</td>
        <td align="right">0.169</td>
        <td align="right">0.041</td>
        </tr>
        <tr>
        <td align="right">144</td>
        <td>Lesotho</td>
        <td align="right">3.802</td>
        <td align="right">0.489</td>
        <td align="right">1.169</td>
        <td align="right">0.168</td>
        <td align="right">0.359</td>
        <td align="right">0.107</td>
        <td align="right">0.093</td>
        </tr>
        <tr>
        <td align="right">145</td>
        <td>Burundi</td>
        <td align="right">3.775</td>
        <td align="right">0.046</td>
        <td align="right">0.447</td>
        <td align="right">0.38</td>
        <td align="right">0.22</td>
        <td align="right">0.176</td>
        <td align="right">0.18</td>
        </tr>
        <tr>
        <td align="right">146</td>
        <td>Zimbabwe</td>
        <td align="right">3.663</td>
        <td align="right">0.366</td>
        <td align="right">1.114</td>
        <td align="right">0.433</td>
        <td align="right">0.361</td>
        <td align="right">0.151</td>
        <td align="right">0.089</td>
        </tr>
        <tr>
        <td align="right">147</td>
        <td>Haiti</td>
        <td align="right">3.597</td>
        <td align="right">0.323</td>
        <td align="right">0.688</td>
        <td align="right">0.449</td>
        <td align="right">0.026</td>
        <td align="right">0.419</td>
        <td align="right">0.11</td>
        </tr>
        <tr>
        <td align="right">148</td>
        <td>Botswana</td>
        <td align="right">3.488</td>
        <td align="right">1.041</td>
        <td align="right">1.145</td>
        <td align="right">0.538</td>
        <td align="right">0.455</td>
        <td align="right">0.025</td>
        <td align="right">0.1</td>
        </tr>
        <tr>
        <td align="right">149</td>
        <td>Syria</td>
        <td align="right">3.462</td>
        <td align="right">0.619</td>
        <td align="right">0.378</td>
        <td align="right">0.44</td>
        <td align="right">0.013</td>
        <td align="right">0.331</td>
        <td align="right">0.141</td>
        </tr>
        <tr>
        <td align="right">150</td>
        <td>Malawi</td>
        <td align="right">3.41</td>
        <td align="right">0.191</td>
        <td align="right">0.56</td>
        <td align="right">0.495</td>
        <td align="right">0.443</td>
        <td align="right">0.218</td>
        <td align="right">0.089</td>
        </tr>
        <tr>
        <td align="right">151</td>
        <td>Yemen</td>
        <td align="right">3.38</td>
        <td align="right">0.287</td>
        <td align="right">1.163</td>
        <td align="right">0.463</td>
        <td align="right">0.143</td>
        <td align="right">0.108</td>
        <td align="right">0.077</td>
        </tr>
        <tr>
        <td align="right">152</td>
        <td>Rwanda</td>
        <td align="right">3.334</td>
        <td align="right">0.359</td>
        <td align="right">0.711</td>
        <td align="right">0.614</td>
        <td align="right">0.555</td>
        <td align="right">0.217</td>
        <td align="right">0.411</td>
        </tr>
        <tr>
        <td align="right">153</td>
        <td>Tanzania</td>
        <td align="right">3.231</td>
        <td align="right">0.476</td>
        <td align="right">0.885</td>
        <td align="right">0.499</td>
        <td align="right">0.417</td>
        <td align="right">0.276</td>
        <td align="right">0.147</td>
        </tr>
        <tr>
        <td align="right">154</td>
        <td>Afghanistan</td>
        <td align="right">3.203</td>
        <td align="right">0.35</td>
        <td align="right">0.517</td>
        <td align="right">0.361</td>
        <td align="right">0</td>
        <td align="right">0.158</td>
        <td align="right">0.025</td>
        </tr>
        <tr>
        <td align="right">155</td>
        <td>Central African Republic</td>
        <td align="right">3.083</td>
        <td align="right">0.026</td>
        <td align="right">0</td>
        <td align="right">0.105</td>
        <td align="right">0.225</td>
        <td align="right">0.235</td>
        <td align="right">0.035</td>
        </tr>
        <tr>
        <td align="right">156</td>
        <td>South Sudan</td>
        <td align="right">2.853</td>
        <td align="right">0.306</td>
        <td align="right">0.575</td>
        <td align="right">0.295</td>
        <td align="right">0.01</td>
        <td align="right">0.202</td>
        <td align="right">0.091</td>
        </tr>
        </tbody></table>

        <!-- Code to filter the data by country -->
        <script>
          function searchTable() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("myInput");
            
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            // i=1 to freeze the header
            for (i = 1; i < tr.length; i++) { 
              td = tr[i].getElementsByTagName("td");
              for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                  found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}
</script>
                </div>

            </div>
          </div>
          
          <!-- Footer Section -->
          <footer>
                <div class="footer">© Copyright Coding Bootcamp (2019)</div>
          </footer>

        </body>

        </html>
        